[Unit]
Description=unit guide manager

[Service]
Restart=on-failure
ExecStart=/opt/ugm/start.sh
ExecStop=/opt/ugm/stop.sh
Type=forking
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
